<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Student Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />

    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <!-- Top Navbar -->
    <nav class="navbar navbar-dark px-3" style="background-color:#4a0f1a;">
        <span class="navbar-brand mb-0 h4">Student Management System</span>
        <a class="btn btn-outline-light btn-sm" href="#">Logout</a>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-2 sidebar p-0">
                <ul class="nav flex-column nav-pills p-3 gap-1">
                    <li class="nav-item">
                        <a class="nav-link active" href="#"><i class="fa-solid fa-gauge me-2"></i>Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-user-graduate me-2"></i>Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-chalkboard-teacher me-2"></i>Teachers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-book me-2"></i>Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-file-pen me-2"></i>Exams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-square-poll-vertical me-2"></i>Results</a>
                    </li>
                </ul>
            </div>


            <!-- Main Content -->
            <div class="col-md-10 p-4">
                <div class="main-content p-4 shadow-sm">
                    @RenderBody()
                </div>
            </div>

        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>